body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    background: black;
    color: lime;
}

button {
    background: lime;
    margin: 10px;
    color: black;
    border: none;
    padding: 10px 15px;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
}

.score-area {
    border: 1px solid lime;
    margin: 10px;

}